<div class="rating-container">
  <ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngFor="let ratingItem of ratingData; let ridx = index">
      <div class=" rating-block">
        <div class="rating-block_title">{{ratingItem.title}}</div>
        <div class="rating-block_body">
          <div class="rating-block_stars">
            <span *ngFor="let star of stars; let sidx = index" (click)="onChangeRating(ridx, stars[sidx])" class="star"
              [ngClass]="[ratingItem.rating < sidx + 1 ? 'empty-star'
                : 'full-star']"></span>

          </div>
          <div class="rating-block_count">
            <div class="rating-block_count-amount">
              {{ratingItem.rating}}
            </div>
            <div class="rating-block_count-desc">
              {{ratingDesc(ratingItem.rating)}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="rating-buttons">
      <button class="cancel-bt">CANCEL</button>
      <button (click)="onSaveNewRating()" class="submit-bt">SUBMIT REVIEW</button>
    </div>
  </ng-container>

  <ng-template #loading>loading...</ng-template>
</div>