<div (dblclick)="onRoomAction('edit')" class="room-card" *ngIf="!room.isEdit; else editMode">
  <div class="room_title">
    <div class="room_number"> {{room.number}} </div>
    <div class="room_name">{{ room.title | titlecase }}</div>
  </div>
  <div class="room_action">
    <div class="room_action-item">CLEAR ROOM</div>
    <div (click)="onRoomAction('delete')" class="room_action-item">DELETE ROOM</div>
    <div class="room_action-item"><span class="bracket">></span></div>
  </div>
</div>

<ng-template #editMode>
  <div class="room-card room-card_edit">
    <div class="room_title room_title__edit">
      <div class="room_number">
        <input [(ngModel)]='number' [value]="room.number" type="number" id="number" autocomplete="off"
          class="form-control" placeholder="Number">
      </div>
      <div class="room_name">
        <input [(ngModel)]='title' [value]="room.title" type="text" id="title" autocomplete="off" class="form-control"
          placeholder="Title">
        <div *ngIf="isRequireMessage" class="warn-message">Title is required</div>
      </div>
    </div>
    <div class="room_action">
      <div (click)="onRoomAction('save')" class="room_action-item">SAVE ROOM</div>
      <div (click)="onRoomAction('delete')" class="room_action-item">DELETE ROOM</div>
      <div class="room_action-item"><span class="bracket">></span></div>
    </div>
  </div>
</ng-template>