<div class="room-card">
  <div (click)="onRoomAction('save')" class="room-card-head" [class.room-card-head_edit]="room.isEdit">
    <div class="room_title">
      <div class="room_number"> {{countFurniture > 0 ? countFurniture : ''}} </div>
      <div *ngIf="!room.isEdit; else editMode" (dblclick)="onRoomAction('edit')" class="room_name">{{ room.roomTitle |
        titlecase }}</div>
    </div>
    <div (click)="$event.stopPropagation()" class="room_action">
      <div (click)="onRoomAction('clear')" class="room_action-item">CLEAR ROOM</div>
      <div (click)="onRoomAction('delete')" class="room_action-item">DELETE ROOM</div>
      <div (click)="onRoomAction('openClose')" class="room_action-item"><span class="bracket"
          [class.bracket_active]="room.isOpen">></span>
      </div>
    </div>
  </div>
  <div *ngIf="room.isOpen" class="room-card-content">
    <app-furniture-item *ngFor="let iterCard of room.furnitureList; let idx = index" [furnitureItem]="iterCard"
      [index]="idx">
    </app-furniture-item>
  </div>
</div>


<ng-template #editMode>
  <div clickOutside (clickOutside)="onRoomAction('save')" (click)="$event.stopPropagation()" id="edit-mode"
    class="room_name">
    <input [(ngModel)]="editRoomData.roomTitle" #title="ngModel" type="text" required autocomplete="off"
      class="form-control" placeholder="Title">
    <div *ngIf="(!hideRequireVarning) || (title.invalid && title.touched)" class="warn-message">Title is
      required</div>
  </div>
</ng-template>